@charset "UTF-8";
/*******/
html,
body {
  -ms-overflow-style: scrollbar;
}

html {
  font-size: 20px;
}

@media screen and (max-width: 1800px) and (min-width: 1661px) {
  html {
    font-size: 19px;
  }
}

@media screen and (max-width: 1660px) and (min-width: 1250px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 1249.98px) and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 450.1px) and (max-width: 991.98px) {
  html {
    font-size: 60px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 13.3333333vw;
  }
}

body {
  width: 100%;
  font-size: 1em;
  line-height: 1;
  background: #fff;
  color: #333;
  font-family: "Microsoft YaHei", "Noto Sans", "Helvetica Neue", Arial, sans-serif;
  position: relative;
  white-space: normal;
  word-wrap: break-word;
  font-weight: 400;
  margin: 0 auto;
}

@media screen and (max-width: 991.98px) {
  body {
    font-size: 0.3rem;
  }
}

i,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
select,
textarea,
label,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  border: none;
  box-shadow: none;
  border-radius: 0;
  font-size: 1em;
  line-height: inherit;
  resize: none;
}

div:focus,
div:active,
span:focus,
span:active,
i:focus,
i:active,
h1:focus,
h1:active,
h2:focus,
h2:active,
h3:focus,
h3:active,
h4:focus,
h4:active,
h5:focus,
h5:active,
h6:focus,
h6:active,
p:focus,
p:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
label:focus,
label:active,
dl:focus,
dl:active,
dt:focus,
dt:active,
dd:focus,
dd:active,
ul:focus,
ul:active,
li:focus,
li:active {
  outline: none;
}

input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active,
label:focus,
label:active {
  box-shadow: none;
}

input[type='radio'],
input[type='checkbox'],
input[type='text'],
textarea {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  box-shadow: none;
}

input[type='radio']:focus,
input[type='radio']:active,
input[type='checkbox']:focus,
input[type='checkbox']:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

input[type="text"]:focus,
input[type="text"]:active {
  outline: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
  border: none;
  background: transparent;
}

button:focus {
  outline: none;
}

a {
  color: inherit;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  vertical-align: middle;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

table {
  border: solid 1px #e5e5e5;
  border-collapse: collapse;
}

th,
td {
  font-weight: normal;
  padding: 5px;
  border: solid 1px #e5e5e5;
  word-break: break-all;
}

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.row {
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  position: relative;
}

.row:before,
.row:after {
  display: none;
}

.lg-inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 5;
  padding: 0 3em;
}

.global-inner:before,
.global-inner:after {
  content: '';
  display: table;
  clear: both;
}

.global-inner {
  width: 85vw;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 5;
}

.global-inner1 {
  width: 90vw;
  max-width: 1320px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 5;
}

.global-inner2 {
  width: 70vw;
  max-width: 840px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 5;
}

.global-inner3 {
  width: 85vw;
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: block;
  z-index: 5;
}

.global-inner1:before,
.global-inner1:after,
.global-inner:before,
.global-inner:after {
  content: '';
  display: table;
  clear: both;
}

@media (max-width: 991.98px) {
  .global-inner3,
  .global-inner2,
  .global-inner,
  .lg-inner,
  .md-inner {
    width: 100% !important;
    max-width: 100%;
    padding: 0 0.4rem !important;
    margin: 0 auto;
  }
  .global-inner1 {
    background-color: transparent;
  }
}

.table-cell {
  display: table-cell;
  vertical-align: top;
}

.en {
  font-family: "Arial";
  font-style: normal;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.swiper-pagination-bullet {
  opacity: 1;
}

.fa {
  display: inline-block;
  line-height: inherit;
  font-size: 1em;
  vertical-align: middle;
  font-style: normal;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.padding-0 {
  padding: 0 !important;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-bot-0 {
  padding-bottom: 0 !important;
}

.t-center {
  text-align: center;
}

.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-cell {
  width: 100%;
  max-width: 100%;
  flex: 1;
  -webkit-flex: 1;
}

@media (min-width: 1600px) {
  .hidden-xxl-up {
    display: none !important;
  }
  .col-xxl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xxl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xxl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 1599.98px) {
  .hidden-xxl-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 991.98px) {
  .hidden-lg-down {
    display: none !important;
  }
  .block-lg-down {
    display: block !important;
    opacity: 1 !important;
  }
}

@media (min-width: 768px) {
  .visible-sm-down {
    display: none !important;
  }
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-xs-up {
    display: none !important;
  }
}

@media (max-width: 575.98px) {
  .hidden-xs-down {
    display: none !important;
  }
}

/*** 无内容提示 ***/
.gnull-tips {
  width: 100%;
  font-size: 16px;
  line-height: 100px;
  color: #999;
  text-align: center;
  min-height: 300px;
}

.nodata1 {
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 4em;
  padding-bottom: 5em;
}

.nodata {
  text-align: center;
  display: block;
  margin: auto;
  padding-top: 4em;
  padding-bottom: 5em;
}

.nodata img,
.nodata1 img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.nodataText {
  text-align: center;
  font-size: 16px;
  line-height: 1.5em;
  margin-top: 1.625em;
  color: #666;
}

/* 404 */
.page-404 {
  padding: 5em 0;
}

.page-404 .row {
  justify-content: center;
  -webkit-justify-content: center;
}

.page-404 img {
  max-width: 100%;
  display: block;
  margin: 0 auto 3.2em;
}

.page-404 .title {
  font-size: 20px;
  line-height: 1.5em;
  color: #242424;
  margin-bottom: 1em;
}

.page-404 .doc {
  font-size: 16px;
  line-height: 1.5em;
  color: #242424;
  display: flex;
  display: -webkit-flex;
}

.page-404 .doc h5 {
  white-space: nowrap;
  width: 6.5em;
  flex: 0 0 6.5em;
  -webkit-flex: 0 0 6.5em;
}

.page-404 .tool {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.page-404 .go-home {
  width: 8.75em;
  height: calc(3.125em + 2px);
  display: block;
  border-radius: 1.65em;
  background: #fe2c55;
  border: solid 1px #fe2c55;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: 3.125em;
  margin-top: 2.125em;
}

/* 错误页 */
.m-error_container {
  width: 100%;
  text-align: center;
  padding: 5em 2em;
}

.m-error_container .imgs {
  max-width: 100%;
  display: block;
  margin: 0 auto 1.5em;
}

.m-error_title {
  font-size: 20px;
  line-height: 1.5em;
  color: #242424;
  margin-bottom: 1em;
  display: block;
}

.m-error_subtitle {
  font-size: 16px;
  line-height: 1.5em;
  color: #242424;
}

.m-error_description {
  font-size: 16px;
  line-height: 1.5em;
  color: #242424;
  margin-top: 1em;
}

@media screen and (min-width: 992px) {
  .page-404 .go-home:hover {
    background-color: #fff;
    color: #fe2c55;
  }
}

@media screen and (max-width: 767.98px) {
  .gnull-tips {
    font-size: 0.28rem;
    line-height: 1rem;
    min-height: 3rem;
  }
}

/***** 滚动条 *****/
.mCSB_inside > .mCSB_container {
  margin: 0;
}

.mCSB_scrollTools {
  width: 5px;
  opacity: 0;
}

.mCSB_outside + .mCSB_scrollTools {
  right: -16px;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  border-radius: 0;
  background: transparent;
  transition: all 1.5s easeInOut;
  -webkit-transition: all 1.5s easeInOut;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  border-radius: 4px;
  background: #424c5f;
}

.scrollbox,
.scrollbox2 {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 991.98px) {
  .scrollbox {
    overflow-y: auto !important;
  }
  .scrollbox2 {
    overflow-x: auto !important;
  }
}

/**** modal ***/
.modal-backdrop {
  display: none !important;
}

#modalDiv {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: -1;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
}

.modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: auto;
}

.modal-content {
  display: block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  margin: 0 auto;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
  padding: 0;
  display: block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.modal-header,
.modal-footer {
  position: relative;
  z-index: 1060;
}

/**** animate ***/
.animated {
  animation-delay: .1s;
}

.is-antd {
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-antd.is-active {
  opacity: 1;
  transform: none;
  -webkit-transform: none;
}

@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    transform: translate3d(0, 50px, 0);
    -webkit-transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@-webkit-keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
  }
}

@keyframes fadeInUp3 {
  0% {
    opacity: 0;
    transform: translate3d(0, 300px, 0);
    -webkit-transform: translate3d(0, 300px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
  }
}

@-webkit-keyframes fadeInUp3 {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 300px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
  }
}

.fadeInUp2 {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
  -webkit-transform: translate3d(0, 50px, 0);
  animation-name: fadeInUp2;
  -webkit-animation-name: fadeInUp2;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fadeInUp3 {
  opacity: 0;
  transform: translate3d(0, 300px, 0);
  -webkit-transform: translate3d(0, 300px, 0);
  animation-name: fadeInUp3;
  -webkit-animation-name: fadeInUp3;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**** video ***/
.video-box {
  position: relative;
}

.video-box .adjust {
  width: 100%;
  max-width: 100%;
  display: block;
  opacity: 0;
}

.video-js {
  width: 100% !important;
  height: 100% !important;
  display: block;
  overflow: hidden;
  background-color: #000;
  position: absolute !important;
  left: 0;
  top: 0;
  z-index: 4;
}

.video-js:hover .vjs-big-play-button {
  background: rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.video-js .vjs-big-play-button {
  width: 4rem;
  height: 4rem;
  border: solid 2px #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background: rgba(0, 0, 22, 0.3);
  border-radius: 100%;
  z-index: 50;
  opacity: 1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin: 0;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder {
  width: 1.2rem;
  height: 1.2rem;
  display: block;
  background: url("/content/img/images/caret-right-fill-white.svg") no-repeat center center transparent;
  background-size: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  border: none;
  z-index: 50;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  display: none;
}

.video-js .vjs-poster {
  background-size: cover;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.video-js .vjs-subs-caps-button {
  display: none !important;
}

.video-js .vjs-button > .vjs-icon-placeholder:before {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.video-js.vjs-paused .vjs-big-play-button {
  display: block;
}

.video-js.vjs-has-started .vjs-control-bar {
  background-color: transparent;
}

@media (max-width: 991.98px) {
  .video-js .vjs-big-play-button {
    width: 0.8rem;
    height: 0.8rem;
  }
  .video-js .vjs-big-play-button .vjs-icon-placeholder {
    width: 0.24rem;
    height: 0.24rem;
  }
}

/*** modal-video ***/
.modal-video {
  background: #000016;
  z-index: 5000;
}

.modal-video .modal-close {
  width: 3em;
  height: 3em;
  position: absolute;
  right: 2.5em;
  top: 1.6em;
  margin: 0;
  border: none;
  background-color: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.modal-video .modal-close .bi {
  width: 1em;
  height: 1em;
  display: block;
  color: #b8bfcc;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.modal-video .modal-dialog {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1060;
}

.modal-video .modal-content {
  width: 960px;
  max-width: 86vw;
  margin: 0 auto;
  padding: 0;
  background: transparent;
}

.modal-video .video-box {
  width: 100%;
  padding-top: 20.25%;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 767.98px) {
  .modal-video .modal-dialog {
    padding: 0 0.3rem;
  }
  .modal-video .modal-content {
    width: 100%;
    max-width: 100%;
  }
  .modal-video .modal-close {
    width: .8rem;
    height: .8rem;
    top: .3rem;
    right: .3rem;
    z-index: 1100;
  }
}

/* 表单 */
.form-group {
  width: 100%;
  position: relative;
  z-index: 5;
}

.form-group .must {
  color: #ff0000;
  margin-left: 8px;
  display: block;
  font-style: normal;
}

.form-group.has-error .help-block {
  color: #ff0000;
}

.form-group.has-error .form-control {
  border-color: #ff0000;
}

.help-block {
  font-size: 12px;
  font-size: .6rem;
  line-height: 1.5em;
  margin-top: .5em;
}

.form-control:focus {
  box-shadow: none;
  outline: none;
}

.form-group-cell {
  display: table-cell;
  vertical-align: middle;
}

.checkbox {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  cursor: pointer;
  font-size: .8em;
  line-height: 2.125em;
}

.checkbox input[type="checkbox"] {
  width: .875em;
  height: .875em;
  display: block;
  border: solid 1px #dcdcdc;
  border-radius: 3px;
  margin-right: .75em;
}

.checkbox input[type="checkbox"]:checked {
  background: url("/content/img/images/check-white.svg") no-repeat center center #39b09c;
  background-size: 0.625em;
  border-color: #39b09c;
}

#formTips {
  background-color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  padding: .5em 1em;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 1020;
  border-radius: 0.5em;
}

#formTips .help-block {
  display: none;
  margin: 0;
  font-size: .8em;
  line-height: 2em;
  color: #fff;
}

@media screen and (max-width: 991.98px) {
  .help-block {
    font-size: .24rem;
    line-height: 4rem;
    margin: 0;
  }
  .checkbox {
    font-size: .28rem;
    line-height: .6rem;
  }
}

/*** 表单提示弹窗 ***/
.modal-tips .modal-dialog {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

.modal-tips .modal-content {
  width: 22.5em;
  max-width: 100%;
  background: #fff;
  border-radius: 0.4em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  padding: 2.5em 2em 1.7em;
}

.modal-tips .modal-close {
  width: 2.5em;
  height: 2.3em;
  display: block;
  background: url("/content/img/images/x-black.svg") no-repeat center center;
  background-size: 0.9em;
  margin: 0 auto 1em;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.modal-tips .icon {
  width: 3.2em;
  margin: 0 auto 1em;
  color: #39b09c;
}

.modal-tips .icon img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.modal-tips .icon .bi {
  width: 3.2em;
  height: 3.2em;
  display: block;
}

.modal-tips .tit {
  font-size: 28px;
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 3px;
}

.modal-tips .word {
  font-size: 16px;
  font-size: 0.8em;
  line-height: 1.5em;
  color: #666;
}

.modal-tips .tool {
  margin-top: 1.4em;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.modal-tips .btn-sure {
  width: 8.6em;
  height: 2.57em;
  font-size: 14px;
  font-size: 0.7em;
  line-height: 2.42em;
  display: block;
  margin: 0 auto;
  padding: 0;
}

@media screen and (max-width: 767.98px) {
  .modal-tips .modal-dialog {
    padding: 0 0.3rem;
  }
  .modal-tips .word {
    font-size: 1em;
  }
  .modal-tips .btn-sure {
    width: 2rem;
    height: 0.6rem;
    line-height: 0.58rem;
    font-size: 0.24rem;
  }
}

/*** 鼠标经过 ****/
.btn-h {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  text-align: center;
  border-width: 1px;
  border-style: solid;
}

.btn-h a,
.btn-h span {
  position: relative;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  z-index: 5;
}

.btn-h::after {
  content: '';
  display: block;
  width: 300%;
  padding-top: 300%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  border-radius: inherit;
  transform-origin: center center !important;
  -webkit-transform-origin: center center !important;
  opacity: 0;
  border-radius: 100%;
  margin: -150% 0 0 -150%;
}

.btn-h .bi {
  display: block;
  position: relative;
  z-index: 5;
}

.btn-h .hover {
  display: none;
}

@media screen and (min-width: 1000px) {
  .btn-h:hover::after {
    transform: none;
    -webkit-transform: none;
    opacity: 1;
  }
  .btn-h:hover .img {
    display: none;
  }
  .btn-h:hover .hover {
    display: block;
  }
}

/* 以上为公共样式，下面为正式开始 */
.main-box {
  min-height: 500px;
}

@media (max-width: 991.98px) {
  .main-box {
    min-height: 9rem !important;
  }
}

header {
  width: 100%;
  height: 4.5em;
  color: #fff;
  color: #282c2e;
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid #efefef;
  background-color: #fff !important;
}

header .global-inner {
  width: 93.75vw;
  max-width: 1800px;
}

header .head-logo {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

header .head-logo img {
  height: 2.5em;
  display: block;
}

header .head-logo .logo2 {
  display: none;
}

header .header-box {
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

header .head-right {
  height: 100%;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
}

header .head-navlist {
  height: 100%;
  display: flex;
  -webkit-display: flex;
  align-items: center;
  -webkit-align-items: center;
}

header .had-subnav {
  height: 100%;
  font-size: .8em;
  line-height: 1.55em;
  padding: 0 2.5em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .had-subnav.activeD ::after {
  position: absolute;
  content: '';
  bottom: -112%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

header .head-navlist {
  position: relative;
}

header .head-navlist .navitem.active::before {
  width: 131%;
  opacity: 1;
}

header .navlv1 {
  position: relative;
}

header .subnav-box {
  display: none;
  position: absolute;
  min-width: 10.1015em;
  width: 100%;
  white-space: nowrap;
  font-size: 1em;
  line-height: 1.725em;
  padding: 2em 0;
  text-align: center;
  left: -11%;
  top: 100%;
  z-index: 120;
  border-radius: 0px 0px 8px 8px;
  color: #555;
}

header .subnav-box li {
  padding: .55em 0;
}

header .subnav-box li:first-child {
  padding-top: 0;
}

header .subnav-box li:last-child {
  padding-bottom: 0;
}

header .head-search {
  width: 1.3em;
  height: 1.3em;
  margin-left: 1.2em;
}

header .head-search a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .head-search-1 {
  display: block;
  height: .9em;
  width: .9em;
}

header .head-search-2 {
  display: none;
  height: .9em;
  width: .9em;
}

header .head-search-3 {
  display: none;
}

header .drop-down {
  position: absolute;
  top: 4.5em;
  left: 50%;
  min-height: 0%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 111%;
  z-index: 2;
  z-index: -1;
}

header .outer-margin {
  position: absolute;
  top: 4.5em;
  left: 0;
  width: 100%;
  min-height: calc(100% + 850% - 4.5em);
  min-height: 0%;
  background-color: red;
  background-color: #fff;
  transition: .5s;
}

header .header-right-box {
  display: flex;
  align-items: center;
}

header .language {
  display: flex;
  align-items: center;
  color: #ec0000;
  padding-right: 1.5em;
  padding-left: 2.5em;
  border-right: 1px solid #939596;
}

header .language .bi {
  color: #ec0000;
}

header .language .icon .bi {
  width: 1em;
  height: 1em;
  display: block;
}

header .language .text {
  display: flex;
  align-items: center;
  font-size: .7em;
  line-height: 1;
  margin: 0 0 0 10px;
}

header .language .icon1 {
  margin-left: 8px;
}

header .language .icon1 .bi {
  width: .7em;
  height: 5px;
  display: block;
  margin-top: 2px;
}

.xial .drop-down {
  min-height: 850%;
}

.xial .subnav-box {
  display: block;
}

.xial .outer-margin {
  min-height: calc(100% + 850%);
  transition: .5s;
}

.search-box {
  display: none;
  position: fixed;
  top: 4.5em;
  width: 100%;
  height: 7em;
  z-index: 10;
  background-color: #fff;
}

.search-box .global-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box .item {
  width: 50%;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #0b573e;
}

.search-box input {
  font-size: .8em;
}

.search-box .box {
  width: 1.2em;
  height: 1.2em;
  margin-left: auto;
}

.search-box .box img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  .search-box {
    top: 1.2rem;
    height: 1.2rem;
  }
  .search-box .item {
    width: 80%;
  }
  .search-box input {
    font-size: .3rem;
  }
  .search-box .box {
    width: .3rem;
    height: .3rem;
  }
  .search-box .box img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 991.98px) {
  header {
    width: 100%;
    height: 1.2rem;
    background: none center center;
    background-size: cover;
  }
  header .global-inner {
    width: 100%;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
  }
  header .head-logo {
    margin: 0 auto;
  }
  .head-menu_open {
    width: .44rem;
    height: .36rem;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    background: none center center;
    background-size: cover;
    background-image: url(/img/static/head-open-h.svg);
  }
  .head-menu_open .nav-menu1-gg {
    width: 100%;
    height: 100%;
  }
  .head-menu_open .nav-menu2 {
    display: none;
  }
  .open.head-menu_open {
    background-image: url(/img/static/head-close.svg);
  }
  .head-search1 {
    width: .42rem;
    height: .42rem;
    background: none center center;
    background-size: cover;
    background-image: url(/img/static/mob-head-search.svg);
  }
}

.head-white header {
  color: #333;
  background-color: #fff;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
}

.head-white header .head-logo .logo1 {
  display: none;
}

.head-white header .head-logo .logo2 {
  display: block;
}

.head-white header .head-search-3 {
  display: block;
}

.head-white .head-menu_open {
  background-image: url(/img/static/head-open-h.svg);
}

.head-white .head-search1 {
  background-image: url(/img/static/mob-head-search-h.svg);
}

.head-white .open.head-menu_open {
  background-image: url(/img/static/head-close-h.svg);
}

.head-white1 header {
  color: #333;
  background-color: #fff;
  transition: .3s;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
}

.head-white1 header .head-logo .logo1 {
  display: none;
}

.head-white1 header .head-logo .logo2 {
  display: block;
}

.head-white1 .head-menu_open {
  background-image: url(/img/static/head-open-h.svg);
}

.head-white1 .head-search1 {
  background-image: url(/img/static/mob-head-search-h.svg);
}

.head-white1 .open.head-menu_open {
  background-image: url(/img/static/head-close-h.svg);
}

.head-white1 .head-search-1 {
  display: none;
}

.head-white1 .head-search-2 {
  display: block;
}

.head-white1 .head-search-3 {
  display: none !important;
}

.head-white-s header {
  color: #333;
  background-color: #fff;
  transition: .3s;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
}

.head-white-s header .head-logo .logo1 {
  display: none;
}

.head-white-s header .head-logo .logo2 {
  display: block;
}

.head-white-s .head-menu_open {
  background-image: url(/img/static/head-open-h.svg);
}

.head-white-s .head-search1 {
  background-image: url(/img/static/mob-head-search-h.svg);
}

.head-white-s .open.head-menu_open {
  background-image: url(/img/static/head-close-h.svg);
}

.head-white-c header {
  color: #333;
  background-color: #fff;
  transition: .3s;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
}

.head-white-c header .head-logo .logo1 {
  display: none;
}

.head-white-c header .head-logo .logo2 {
  display: block;
}

.head-white-c .head-menu_open {
  background-image: url(/img/static/head-open-h.svg);
}

.head-white-c .head-search1 {
  background-image: url(/img/static/mob-head-search-h.svg);
}

.head-white-c .open.head-menu_open {
  background-image: url(/img/static/head-close-h.svg);
}

.head-white-c .head-search-1 {
  display: none;
}

.head-white-c .head-search-3 {
  display: block;
}

.head-white-imp header {
  color: #333;
  background-color: #fff;
  box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
}

.head-white-imp header .head-logo .logo1 {
  display: none;
}

.head-white-imp header .head-logo .logo2 {
  display: block;
}

.head-white-imp header .head-search-1 {
  display: none;
}

.head-white-imp header .head-search-3 {
  display: block;
}

.head-white-imp .head-menu_open {
  background-image: url(/img/static/head-open-h.svg);
}

.head-white-imp .head-search1 {
  background-image: url(/img/static/mob-head-search-h.svg);
}

.head-white-imp .open.head-menu_open {
  background-image: url(/img/static/head-close-h.svg);
}

@media (max-width: 991.98px) {
  header .language {
    padding-right: 0;
    padding-left: 0;
    border-right: 0;
  }
  header .language .icon .bi {
    width: .4rem;
    height: .4rem;
  }
  header .head-search {
    width: .4rem;
    height: .4rem;
  }
  header .head-search-1 {
    width: .4rem;
    height: .4rem;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  header .had-subnav {
    padding: 0 1.5em;
  }
}

/* 头部 结束 */
.public-banner {
  width: 100%;
  height: 35em;
  position: relative;
  overflow: hidden;
}

.public-banner .imgs {
  position: absolute;
  top: 0;
  left: 0;
  background: no-repeat center;
  background-size: cover;
}

.public-banner .imgs.web {
  width: 100%;
  height: 100%;
}

.public-banner .public-ban-paging {
  position: absolute;
  bottom: 2em;
  left: 0;
}

.public-banner .public-ban-paging .tit {
  font-size: 1.6em;
  line-height: 1;
  color: #fff;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .public-banner {
    width: 100%;
    height: 5.9rem;
    position: relative;
    overflow: hidden;
  }
  .public-banner .imgs {
    position: absolute;
    top: 0;
    left: 0;
    background: no-repeat center;
    background-size: cover;
  }
  .public-banner .imgs.app {
    width: 100%;
    height: 5.9rem;
  }
  .public-banner .public-ban-paging {
    position: absolute;
    bottom: .5rem;
    left: .4rem;
  }
  .public-banner .public-ban-paging .tit {
    font-size: .48rem;
    line-height: 1;
    color: #fff;
  }
}

.crumbs-channel {
  margin-top: -9.75em;
  margin-bottom: 1em;
  color: #fff;
}

.crumbs-channel .list {
  display: flex;
  align-items: center;
  margin: 0 -.65em;
}

.crumbs-channel .list .item {
  padding: 0 .65em;
  position: relative;
}

.crumbs-channel .list .item::after {
  position: absolute;
  content: ">";
  display: block;
  top: 00%;
  right: -3.5px;
  width: 7px;
  height: 7px;
  font-size: .7em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.crumbs-channel .list .item:last-child::after {
  display: none;
}

.crumbs-channel .list .doc {
  font-size: .7em;
  line-height: 1;
}

.global-paging {
  width: 100%;
  height: 100%;
  margin-top: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-paging .ctrl {
  width: 2em;
  height: 2em;
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-paging .ctrl .bi {
  width: .5em;
  height: .75em;
  color: #999;
}

.global-paging .num {
  display: flex;
  padding: 0 1.35em;
}

.global-paging .num a {
  width: 1.2em;
  height: 2em;
  font-size: 1em;
  line-height: 1;
  margin: 0 .8em;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.global-paging .num .active {
  color: #0b573e;
  border-bottom: 2px solid #0b573e;
}

.global-paging .disabled {
  opacity: .5;
}

@media (max-width: 991.98px) {
  .global-paging {
    margin-top: .8rem;
    padding: 0 .5rem;
  }
  .global-paging .ctrl {
    width: .8rem;
    height: .8rem;
    border: 1px solid #999;
  }
  .global-paging .ctrl .bi {
    width: .16rem;
    height: .33rem;
    color: #999;
  }
  .global-paging .num {
    display: flex;
    padding: 0 .25rem;
  }
  .global-paging .num a {
    width: .4rem;
    height: .7rem;
    font-size: 1;
    line-height: 1;
    margin: 0 .16rem;
  }
  .global-paging .num .active {
    border-bottom: 2px solid #0b573e;
  }
}

.global-paging1 .ctrl {
  font-size: .8em;
  line-height: 1em;
  color: #0b573e;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.global-paging1 .box {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.global-paging1 .prev {
  padding-bottom: 1.25em;
  border-bottom: 1px solid #dcdcdc;
}

.global-paging1 .next {
  padding-top: 1.25em;
}

@media (max-width: 991.98px) {
  .global-paging1 .ctrl {
    font-size: .3rem;
    line-height: .4rem;
  }
  .global-paging1 .prev {
    padding-bottom: .35rem;
    border-bottom: 1px solid #dcdcdc;
  }
  .global-paging1 .next {
    padding-top: .35rem;
  }
  .global-paging1 .doc {
    width: auto;
    display: block;
    white-space: nowrap;
  }
  .global-paging1 .docx {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
}

@media (min-width: 1000px) {
  .global-paging .ctrl:hover {
    background-color: #0b573e;
  }
  .global-paging .ctrl:hover .bi {
    color: #fff;
  }
  .global-paging .disabled:hover {
    background-color: transparent;
    cursor: default;
  }
  .global-paging .disabled:hover .bi {
    color: #999;
  }
}

/* footer */
.footer {
  width: 100%;
  padding: 4.25rem 0 2.9rem;
  color: #fff;
  background: url("/static/images/foot-1.jpg") no-repeat center center;
  background-size: cover;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.foot-topbox {
  margin-bottom: 2.25rem;
}

.foot-topbox-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  line-height: 1.25em;
  margin-bottom: 1em;
}

.foot-topbox-tool {
  width: 100%;
  display: flex;
  justify-content: center;
}

.foot-topbox-tool .btn {
  width: 10rem;
}

.foot-fdlink-box {
  width: 100%;
  display: flex;
  padding: 1.075rem 0;
  border-top: solid 1px rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  font-size: .8rem;
  line-height: 2em;
  margin-bottom: 2rem;
}

.foot-fdlink-box a {
  display: block;
}

.foot-fdlink-tit {
  flex: none;
}

.foot-fdlink-body {
  width: 100%;
  flex: 1;
}

.foot-fdlink {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.75rem;
}

.foot-fdlink li {
  padding: 0 0.75rem;
}

.foot-navinfo-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.3rem;
}

.foot-navbox {
  flex: 0 0 80%;
  max-width: 1110px;
}

.foot-navlist {
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.foot-navlv1 {
  font-size: 1rem;
  line-height: 1.5em;
  margin-bottom: .5rem;
}

.foot-navlv2 {
  font-size: .8rem;
  line-height: 2em;
  color: rgba(255, 255, 255, 0.5);
}

.foot-navlv2 a {
  display: block;
}

.foot-wxbox {
  flex: none;
  margin: 0 1.5rem 0 0;
}

.foot-wxbox .imgs {
  width: 4rem;
  position: relative;
}

.foot-wxbox .imgs img {
  width: 100%;
  display: block;
}

.foot-botbox {
  font-size: .7rem;
  line-height: 1.5em;
  color: rgba(255, 255, 255, 0.5);
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.foot-botbox .foot-botbox-right {
  display: none;
}

.foot-botbox-left {
  display: flex;
  align-items: center;
}

.foot-botbox-left .info {
  margin: 0 0.8rem 0 0;
}

.foot-botbox-left .info:last-child {
  margin: 0;
}

.foot-support {
  display: flex;
  align-items: center;
}

.foot-support .tit {
  flex: none;
}

.foot-jszc_swip {
  height: 1.5em;
  overflow: hidden;
  position: relative;
}

.foot-gab {
  display: flex;
  align-items: center;
}

.foot-gab img {
  width: 20px;
  flex: none;
  display: block;
  margin: 0 5px 0 0;
}

.footer-md {
  padding: 3rem 0 2rem;
}

.footer-md .foot-topbox {
  margin-bottom: 2rem;
}

.footer-md .foot-navinfo-box {
  margin-bottom: 2rem;
}

.footer-sm {
  padding: 2rem 0 1rem;
}

.footer-sm .foot-topbox {
  margin-bottom: 1.5rem;
}

.footer-sm .foot-topbox-title {
  margin-bottom: 1rem;
}

.footer-sm .foot-fdlink-box {
  padding: 1rem 0;
}

.footer-sm .foot-navinfo-box {
  margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
  .footer a[href]:hover {
    color: #fff;
  }
  .foot-fdlink a[href]:hover {
    opacity: .7;
  }
}

.xuanfan .icon .bi {
  transform: rotate(180deg);
  transition: .3s;
  -webkit-transition: .3s;
}

.backtop {
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #0b573e;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  transition: .5s;
}

.backtop .box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backtop .bi {
  width: 1em;
  height: .5em;
  color: #0b573e;
}

@media (min-width: 1000px) {
  .backtop:hover {
    border-radius: 50%;
    background-color: #0b573e;
  }
  .backtop:hover .bi {
    color: #fff;
  }
}

.main-box {
  min-height: 500px;
}

.ph-nav-box {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  right: 0;
  top: 1rem;
  /*background: rgba(0,0,0,.3);*/
  opacity: 0;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.ph-nav-box.on {
  opacity: 1;
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.ph-nav-box .ph-nav-pop {
  border-top: 1px solid #e9edf1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
  z-index: 10;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
  padding-bottom: 1.1rem;
}

.nav-main {
  height: 100%;
  overflow: hidden;
}

.nav-main em {
  float: right;
  width: 30%;
  margin-top: 0.06rem;
  position: relative;
}

.nav-main em:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1px;
  width: 26px;
  height: 2px;
  background-color: #666;
  transition: all .3s;
  z-index: 10;
}

.bgCode {
  padding: .14rem;
  background-color: #fff;
  display: inline-block;
}

.nav-main em:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -11px;
  width: 2px;
  height: 26px;
  background-color: #666;
}

@media screen and (max-width: 450px) {
  .nav-main em:before {
    width: 14px;
  }
  .nav-main em:after {
    right: 6px;
    margin-top: -7px;
    height: 14px;
  }
}

.nav-main .on em:before {
  background-color: #014da1;
}

.nav-main .on em:after {
  display: none;
}

.nav-main .lv4pop .lv1 em,
.nav-main .lv4pop .lv2 em,
.nav-main .lv4pop .lv3 em,
.nav-main .lv3pop .lv1 em,
.nav-main .lv3pop .lv2 em,
.nav-main .lv2pop .lv1 em {
  display: block;
}

.nav-main .lv2box,
.nav-main .lv3box,
.nav-main .lv4box {
  display: none;
  padding: .25rem 0;
  background-color: #f2f2f2;
}

.nav-main .lv1 a {
  float: left;
  display: block;
  font-size: 0.36rem;
  line-height: 0.36rem;
  color: #333;
  min-width: 50%;
  padding: 0.3rem 0;
  transition: all .3s;
}

.nav-main .lv1,
.nav-main .lv2,
.nav-main .lv3,
.nav-main .lv4 {
  padding: 0 .4rem;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid #dcdcdc;
}

.nav-main .lv2 {
  padding: 0 .8rem;
  border-bottom: 0;
}

.nav-main .on.lv1 a {
  color: #00468e;
}

.nav-main .lv2 a {
  float: left;
  display: block;
  font-size: 0.3rem;
  color: #333;
  min-width: 50%;
  padding: 0.25rem 0;
  transition: all .3s;
}

.whiteHead .header {
  border-bottom: 1px solid transparent;
}

.nav-main .lv3 a {
  float: left;
  display: block;
  font-size: 0.28rem;
  line-height: 0.42rem;
  color: #262626;
  min-width: 50%;
  padding: 0.35rem 0 0.35rem 0rem;
  transition: all .3s;
}

.nav-main .lv4 a {
  float: left;
  display: block;
  font-size: 0.28rem;
  line-height: 0.42rem;
  color: #666;
  min-width: 50%;
  padding: 0.22rem 0 0.22rem 0rem;
}

/* 	.nav-main .lv1.on a{
         color: #014da1;
       }
       .nav-main .lv2.on a{
         color: #014da1;
       }
       .nav-main .lv3.on a{
         color: #406cae;
       }
       .nav-main .lv4.on a{
         color: #406cae;
       } */
/*** main-box ***/
/**** modal ***/
.modal-backdrop {
  display: none !important;
}

#modalDiv {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: -1;
}

.modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
}

.modal-dialog {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: auto;
}

.modal-content {
  display: block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  margin: 0 auto;
}

.modal-header,
.modal-body,
.modal-footer {
  border: none;
  padding: 0;
  display: block;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

.modal-header,
.modal-footer {
  position: relative;
  z-index: 1060;
}

.animbox-box {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: scroll;
  z-index: 9;
  background: rgba(0, 0, 0, 0.7);
}

.animbox-box .box {
  position: relative;
  width: 100%;
  height: 100%;
}

.animbox {
  width: 200px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 9;
}

/*设置各竖条的共有样式*/
.animbox > div {
  background-color: #279fcf;
  width: 4px;
  height: 35px;
  border-radius: 2px;
  margin: 2px;
  animation-fill-mode: both;
  display: inline-block;
  animation: anim 0.9s 0s infinite cubic-bezier(0.11, 0.49, 0.38, 0.78);
}

/*设置动画延迟*/
.animbox > :nth-child(2),
.animbox > :nth-child(4) {
  animation-delay: 0.25s !important;
}

.animbox > :nth-child(1),
.animbox > :nth-child(5) {
  animation-delay: 0.5s !important;
}

/*定义动画*/
@keyframes anim {
  0% {
    transform: scaley(1);
  }
  80% {
    transform: scaley(0.3);
  }
  90% {
    transform: scaley(1);
  }
}

/* 自定义下拉框 */
.byted-select-wrapper {
  width: 100%;
  position: relative;
  z-index: 10;
}

.byted-select-wrapper.is-open {
  z-index: 50;
}

.byted-select-wrapper.is-open .byted-select-arrow .bi {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.byted-select {
  width: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.byted-select-input {
  font-size: 0.7rem;
  line-height: 2rem;
  height: calc(2rem + 2px);
  border: solid 1px #cbcdd1;
  overflow: hidden;
  width: 100%;
  color: #333;
  background-color: #fff;
  padding: 0 2rem 0 1rem;
}

.byted-select-arrow {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 20;
  color: #333;
}

.byted-select-arrow .bi {
  width: 12px;
  height: 12px;
  display: block;
}

.byted-popover-wrapper {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  border: solid 1px #cbcdd1;
  z-index: 20;
  padding: 0.6rem 0 1.25rem;
}

.byted-option-list {
  font-size: .7rem;
  line-height: 1.2rem;
  color: #222;
}

.byted-option-list li {
  padding: 0.3rem 1rem;
  cursor: pointer;
}

.byted-option-list li.current {
  font-weight: bold;
}

.byted-option-list a {
  display: block;
}

.byted-checkbox-list {
  font-size: .7rem;
  line-height: 1.2rem;
  color: #222;
}

.byted-checkbox-item {
  width: 100%;
  cursor: pointer;
}

.byted-checkbox-label {
  width: 100%;
  display: flex;
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  position: relative;
}

.byted-check {
  display: none;
}

.byted-check-ico {
  flex: none;
  width: .8rem;
  height: .8rem;
  display: block;
  border: solid 1px #ccc;
  margin: 0.2rem .5rem 0 0;
  background: none;
}

.byted-checkbox-checked .byted-check-ico {
  background: url("/img/static/check-blue.svg") no-repeat center center #fdd001;
  background-size: contain;
  border-color: #d3af16;
}
